<footer class=" py-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3  py-4">
                <div>
                    <h5 class="title">Publishers</h5>
                    <div class="d-flex flex-column">
                        <a class="link" >best seller</a>
                        <a class="link" >interviews</a>
                        <a class="link" >authors story</a>
                        <a class="link" >book fairs</a>
                        <a class="link" >help (FAQ)</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 py-4">
                <div>
                    <h5 class="title">Contact</h5>
                    <p class="content mb-3">Stay in touch with everything ChapterOne, follow us on social media and learn about new promotions.</p>
                    <a class="link" ><i class="me-3 fa-brands fa-facebook-square"></i></a>
                    <a class="link" ><i class="mx-3 fa-brands fa-twitter"></i></a>
                    <a class="link" ><i class="mx-3 fa-brands fa-linkedin"></i></a>
                    <a class="link" ><i class="mx-3 fa-brands fa-pinterest"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 py-4">
                <div>
                    <h5 class="title">News & Update</h5>
                    <p class="content mb-4">We’d love it if you subscribed to our newsletter! You’ll love it too.</p>
                    <div class="position-relative">
                        <input type="email" placeholder="Email..." class="email" required>
                    <button class="fa-solid link fa-paper-plane submit " type="submit"></button>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-3 py-4">
                <div>
                    <h5 class="title">Social Media</h5>
                    <div class="row">
                        <div class="col-md-4 col-6 py-2">
                            <img src="../../assets/imges/footer-1.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-md-4 col-6 py-2">
                            <img src="../../assets/imges/footer-2.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-md-4 col-6 py-2">
                            <img src="../../assets/imges/footer-3.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-md-4 col-6 py-2">
                            <img src="../../assets/imges/footer-4.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-md-4 col-6 py-2">
                            <img src="../../assets/imges/footer-5.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-md-4 col-6 py-2">
                            <img src="../../assets/imges/footer-6.jpg" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="text-center py-3 rights">
    <div>© 2019 <a class="link">QODE INTERACTIVE</a>, ALL RIGHTS RESERVED</div>
</footer>